<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Yash Karbhari</h2>
		</header>
		<ul class="features">
			<li class="icon fa-user">
				<h3><a href = "/05AboutMe">About Me</a></h3>
				<p>About my interests, dream, and thoughts about some topics.</p>
			</li>
			<li class="icon fa-file">
				<h3><a href = "/01cv">Résumé</a></h3>
				<p>Here you can find my Curriculum Vitae.</p>
			</li>
			<li class="icon fa-code">
				<h3><a href = "/03code">My Projects</a></h3>
				<p>A sample of my projects which I have implemented and currently working on.</p>
			</li>
			<li class="icon fa-comments">
				<h3><a href = "/02testimonials">Testimonials</a></h3>
				<p>These testimonials demonstrate my collaborating abilites and about my work.</p>
			</li>
			<li class="icon fa-laptop">
				<h3><a href = "/04random">Random Links</a></h3>
				<p>Here is a collection of non-academic and academic links that you may find interesting.</p>
			</li>
			<li class="icon fa-envelope">
				<h3>Contact</h3>
				<p>Address: House No. R8/491/53, Gajanan Nagar, <br> Latur, Maharashtra-413512</p>
				<p>E-mail: yashkarbhari17@gmail.com</p>
			</li>
		</ul>
	</div>
</section>
