<section id="two" class="wrapper alt style2">

	<section class="spotlight">
		<div class="image"><img src="assets/images/ProfilePic.jpg" alt ="" /></div>
		<div class="content">
			<h2>About Me</h2>
			<p>Hello! I am an Information Technology Undergraduate at <a href='https://www.pvgcoet.ac.in' target="_blank">PVG's COET</a>. I am obsessed about deep learning research and I am working in it. My broad research interests are Computer Vision and Self Driving Cars.</p>
		</div>
	</section>

	{% endif %}{% endfor %}
	{% for page in site.pages limit:site.tiles-count %}{% if site.tiles-source == 'pages' %}{% if page.layout == 'default' %}{% continue %}{% endif %}

	<section class="spotlight">
		<div class="image">{% if page.image %}<img src="{% if site.featured-image-source %}{{ page.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}/assets/images/{{ page.image }}{% endif %}" alt="" />{% endif %}</div>
		<div class="content">
			<h2><a href="{{ page.url | relative_url }}" class="link">{{ page.title }}</a></h2>
			<p>{{ page.description }}</p>
		</div>
	</section>

	{% endif %}{% endfor %}

</section>
