<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Yash Karbhari</h2>
		</header>
		<ul class="features">
			<li class="icon fa-code">
				<h3>My Projects</h3>
				<p>A sample of my projects which I have implemented and currently working on.</p>
			</li>
			<li class="icon fa-comment">
				<h3>Testimonials</h3>
				<p>These testimonials demonstrate my collaborating abilites and about my work.</p>
			</li>
			<li class="icon fa-user">
				<h3>Résumé</h3>
				<p>Here you can find my Curriculum Vitae.</p>
			</li>
			<li class="icon fa-film">
				<h3>Movies</h3>
				<p>Movies i like.</p>
			</li>
			<li class="icon fa-laptop">
				<h3>Random Links</h3>
				<p>Here is a collection of non-academic and academic links that you may find interesting.</p>
			</li>
			<li class="icon fa-envelope">
				<h3>Contact</h3>
				<p>Address: Gajanan Nagar, Latur, MH</p>
				<p>E-mail: yashkarbhari17@gmail.com</p>
			</li>
		</ul>
	</div>
</section>
